# Ignorar carpetas de dependencias
backend/node_modules/
frontend/node_modules/

# Archivos comunes de entorno y logs
.env
*.log

# Archivos del sistema operativo (macOS)
.DS_Store

# Otras carpetas que no deben subirse, como carpetas de builds/compilación
dist/
build/

# Archivos de base de datos (generalmente no se versionan)
*.sql

# Directorios de carga de archivos (contiene datos sensibles/grandes de usuario)
backend/uploads/